.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: aqua;
    color: blue;
    font-family: Arial, sans-serif;
}
.navbar .logo{
    font-size: 22px;
    font-weight: bold;
}
.nav-links{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}
li{
    text-decoration: none;
    color: blue;
    font-weight: bold;
    border: 5px solid blue;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(57, 48, 187, 0.53);
}